<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<!--
<button data-controller='counter'>Button</button>
-->
<%= button_tag "0",
                data: { 
                  controller: 'counter',
                  action: 'click->counter#increment'
                } %>
